<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to Push your location on background ?</strong>
    <br>
    <ion-button color="success" (click)="start()">Start</ion-button>
    <br>
    <ion-button color="warning" (click)="stop()">Stop</ion-button>
  </div>
</ion-content>
